* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #041C32;
}

.nav_out {
  margin: 0;
  width: fill;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 25px;

  background-color: #111823;
}

.nav_in {
  margin: auto;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.nav_in:after {
  display: block;
  content: "";
  border-bottom: solid 1px #00ffff;
  padding-bottom: 1%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.nav_in:hover:after {
  transform: scaleX(1);
  
}
.home {
    display: flex;
    /* height: 100%; */
    justify-content: space-between;
    align-items: center;
}
.home_in{
    margin-left: 50px;
    margin-bottom: 200px;
    margin-top: 300px;
}
.home_img{
    margin-top: 15px;
width: 100%;
}
.home_t1{
    font-size: 50px;
    margin-top: -50px;
    margin-bottom: 10px;
    color: #607EAA;
}
.home_t2{
    font-size: 70px;
    color: rgb(255, 255, 255);
}
.home_t3{
    margin-top: 10px;
    font-size: 20px;
    color: #607EAA;
}


nav{
    position: fixed;
    width: 100%;
    /* opacity: 70%; */
}
.about{
   text-align: center;
   line-height: 30px;
   
  
}
#about_head{
    margin-top: 150px;
    align-items: center;
    font-size: 50px;
    margin-bottom: 30px;
    color: whitesmoke;
    
}
#about_txt{
    line-height: 40px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
   
    color: #607EAA;
}
.skills_main{
    text-align: center;
}
.skills_row{
    display: flex;
    /* align-items: baseline; */
    justify-content: space-around;
    margin-top: 100px;
}
#skills_head{
    font-size: 70px;
    margin-top: 100px;
    align-items: center;
    color: white;

}
.skills_title{

    color: whitesmoke;
}
    #projects_head{
        font-size: 70px;
        margin-top: 50px;
        text-align: center;
        color: whitesmoke;
}


.skills_column{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    

}

.blend{
    
   height: 200px;
    width: 200px;
    margin-bottom: 15px;
    
   
}

  

.photoshop{
    
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
    

}
.figma{
    
    width: 170px;
    height: 170px;
    margin-bottom: 30px;
    
}
/* #mm22{

    margin-left: 230px;
    margin-right: 400px;
}
#mm33{
    margin-right: 380px;

}
#c3{
    text-align: center;
    margin-top: 80px;
    margin-right: 80px;
} */
.p1{
    width: 40%;
    margin-left: 5%;
    margin-top: 80px;
}
    .killjoy_img{
        width: 500px;
    }
   .projects_img_left{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
   }
   .projects_des{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   }
   .project_head{
    font-size: 50px;
    margin-bottom: 30px;
    color: whitesmoke;
   }
    .project_txt{
        font-size: 20px;
        color: #607EAA;
    }
    .project_link{

        color: blue;
    }

.untitiled_img{
    width: 500px;
    margin-right: 70px;
  
}
.project_img_right{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.interface_img{
    width: 500px;
    height: 300px;
}
a{
    text-decoration: none;
    color: white;
}
.task2_img{
    width: 500px;
    height: 400px;
    margin-right: 70px;
}
#contact_head{
    font-size: 50px;
        margin-top: 100px;
        text-align: center;
        color: whitesmoke;

}
.contact_inline{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
#icon_size{
    width: 50px;
}
  
   @media only screen and (max-width: 961px){
    
    .home{
        display: flex;
        flex-direction:column-reverse;
        /* width: 100%; */
        text-align: center;
    }
    .home_in{
        margin-left: 50px;
        margin-bottom: 0px;
        margin-top: 100px;
    }
    .home_img{
        margin-top: 70px;
        align-items: center;
       width: 100%;  
    }
    .home_t1{
        font-size: 50px;
        margin-top: -50px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    .home_t2{
        font-size: 70px;
       margin-right: 50px;    
    }
    .home_t3{
        
        margin-top: 10px;
        font-size: 20px;
        margin-right: 50px;
    }
    .skills_row{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 100px;
   }
   #skills_head{
    font-size: 70px;
    margin-top: 50px;
    align-items: center;
   }
   .projects_img_left{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 80px;
   }
   .projects_des{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
   }
   .project_img_right{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 80px;
  }

    .killjoy_img{
    width: 400px;
    
    
  }
  .untitiled_img{
    margin: 0px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
  .task2_img{
   margin: 0px;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .interface_img{
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   
  .contact_inline{
    display: flex;
    margin: 0px;
   
    align-content: center;
    
    margin-bottom: 50px; 
    }
    #contact_head{
        font-size: 50px;
            margin-top: 100px;
            text-align: center;
            color: whitesmoke;
            margin-bottom: 50px;
    }
    #about_head{
        margin-top: -20x;
        align-items: center;
        font-size: 50px;
        margin-bottom: 30px;
        color: whitesmoke;

    }
}