* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #041C32;
}

.ok1 {
  margin: 0;
  width: fill;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 25px;

  background-color: #111823;
}

.ok {
  margin: auto;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.ok:after {
  display: block;
  content: "";
  border-bottom: solid 1px #00ffff;
  padding-bottom: 1%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.ok:hover:after {
  transform: scaleX(1);
  
}
.main {
    display: flex;
    /* height: 100%; */
    justify-content: space-between;
    align-items: center;
}
.main2{
    margin-left: 50px;
    margin-bottom: 200px;
    margin-top: 400px;
}
.mm{
    margin-top: 100px;
width: 100vh;
}
.l1{
    font-size: 50px;
    margin-top: -50px;
    margin-bottom: 10px;
    color: #607EAA;
}
.l2{
    font-size: 70px;
    color: rgb(255, 255, 255);
}
.l3{
    margin-top: 10px;
    font-size: 20px;
    color: #607EAA;
}


nav{
    position: fixed;
    width: 100%;
    /* opacity: 70%; */
}
.b1{
   text-align: center;
   line-height: 30px;
   
  
}
#c1{
    margin-top: 150px;
    align-items: center;
    font-size: 50px;
    margin-bottom: 30px;
    color: whitesmoke;
    
}
#c2{
    line-height: 40px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    color: #607EAA;
}
.b2{
    text-align: center;
}
.s1{
    display: flex;
    /* align-items: baseline; */
    justify-content: space-around;
    margin-top: 100px;
}
#c{
    font-size: 70px;
    margin-top: 50px;
    align-items: center;
    color: white;

}
.LOL{

    color: whitesmoke;
}
    #c11{
        font-size: 70px;
        margin-top: 50px;
        text-align: center;
        color: whitesmoke;
}


.z1{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    

}
.z2{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.z3{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.mm2{
    
   height: 200px;
    width: 200px;
    margin-bottom: 15px;
    
   
}

  

.mm3{
    
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
    

}
.mm4{
    
    width: 170px;
    height: 170px;
    margin-bottom: 30px;
    
}
/* #mm22{

    margin-left: 230px;
    margin-right: 400px;
}
#mm33{
    margin-right: 380px;

}
#c3{
    text-align: center;
    margin-top: 80px;
    margin-right: 80px;
} */
.p1{
    width: 40%;
    margin-left: 5%;
    margin-top: 80px;
}
    .pr1{
        width: 500px;
    }
   .pk1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
   }
   .pk11{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   }
   .pk111{
    font-size: 50px;
    margin-bottom: 30px;
    color: whitesmoke;
   }
    .pk121{
        font-size: 20px;
        color: #607EAA;
    }
    .pk212{

        color: blue;
    }

.pr1k{
    width: 500px;
    margin-right: 70px;
  
}
.pk17{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.pr1l{
    width: 500px;
    height: 300px;
}
a{
    text-decoration: none;
    color: white;
}
.pr1k1{
    width: 500px;
    height: 400px;
    margin-right: 70px;
}
  
   @media only screen and (max-width: 600px){
    
    .main{
        display: flex;
        flex-direction:column-reverse;
        /* width: 100%; */
        text-align: center;
    }
    .main2{
        margin-left: 50px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .mm{
        margin-top: 150px;
        align-items: center;
       width: 100%;  
    }
    .l1{
        font-size: 50px;
        margin-top: -50px;
        margin-bottom: 10px;
    }
    .l2{
        font-size: 70px;
    
    }
    .l3{
        margin-top: 10px;
        font-size: 20px;
    }
    .s1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 100px;
   }
   #c{
    font-size: 70px;
    margin-top: 50px;
    align-items: center;
   }
   .pk1{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 80px;
   }
   .pk11{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
   }
   .pk17{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 80px;
  }

    .pr1{
    width: 400px;
    
  }
  .pr1k{
    margin: 0px;
    width: 400px;
  
}
  .pr1k1{
   margin: 0px;
    width: 400px;
    height: 400px;
  }
  .pr1l{
    width: 400px;
    height: 300px;
   }
}